<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
		<script th:src="@{/javascript/main.js}"></script>
		<script th:src="@{/javascript/login.js}"></script>
	</head>
	<body>
		<canvas width="250" height="100" id="fire" class="login-canvas"></canvas>

		<ul>
			<li>----------------------------------------------------------------</li>
			<li>***** Dramatis Personae *****</li>
			<li>Developer: 11111111111111111111</li>
			<li>Developer: 22222222222222222222</li>
			<li>Developer: 33333333333333333333</li>
			<li>Developer and Team Leader: 444444444444444444444</li>
			<li>Developer: 555555555555555555555555555</li>
			<li>Developer: 666666666666666666666666666</li>
			<li>Developer: 777777777777777777777777777</li>
			<li>Developer: 888888888888888888888888888</li>
			<li>Developer: 999999999999999999999999999</li>
			<li>Developer and Mentor: Ruslan Gramatic (rubfan)</li>
			<li>Developer: 101010101001010101001010</li>
			<li>Developer: 121212121212121212121212</li>
			<li>Developer: 131313131313131313131313</li>
			<li>Developer: 141414141414141414141414</li>
		</ul>

		<img th:src="@{/images/chicken_1.png}" style="position: absolute; top:100px; right: 0">
		<img th:src="@{/images/chicken_2.png}" style="position: absolute; top:80px; left: 0">

		<div class="login-form">
			<form autocomplete="off" action="#" th:action="@{/registration}" th:object="${user}" method="post" role="form">
				<h2>Registration Form</h2>
				<div class="form-label-field">
					<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
					<input type="text" th:field="*{name}" placeholder="Name" class="game-input" />
				</div>
				<div class="form-label-field">
					<input type="text" th:field="*{lastName}" placeholder="Last Name" class="game-input" />
					<label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></label>
				</div>
				<div class="form-label-field">
					<input type="text" th:field="*{email}" placeholder="Email" class="game-input" />
					<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
				</div>
				<div class="form-label-field">
					<input type="password" th:field="*{password}" placeholder="Password" class="game-input" />
					<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
				</div>

				<button type="submit" class="game-button">Register User</button>

				<span th:utext="${successMessage}"></span>

			</form>

			<form th:action="@{/}" method="get">
				<button type="Submit" class="game-button">Go To Login Page</button>
			</form>
		</div>

		<audio id="loginMusic">
			<source type="audio/mpeg" src="/music/login-music.mp3">
			Your browser does not support the audio element.
		</audio>

		<script>
			playMusic();
			refreshButtonsStatus();
		</script>

	</body>
</html>